<div>
    <h1>App Socket</h1>
    <h2>Bienvenido {{nombre}}</h2>
    <form onsubmit="return addMessage()">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre">
        <input type="text" name="mensaje" id="mensaje" placeholder="Tu mensaje...">
        <input type="submit" value="Enviar">
    </form>
    <div class="chat" id="chat">
        <ul id="lista_mensajes">
        </ul>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
</script>
<script src="/js/index.js"></script>
