<div>
    <h1>LOGIN</h1>
    <a href="/api/sessions/github">Ingresar con GitHub</a>
    <form action="/auth/login" method="post">
        <label for="">Username: </label>
        <input type="mail" name="user">
        <label for="">Password: </label>
        <input type='password' name="password">
        <input type="submit" value="Enviar">
    </form>

    <p>No estas registrado?</p>
    <a href="/register">Registrate</a>
</div>