<div>
    <h1>Enter your new password for your email {{email}}</h1>

    <form action="/auth/newPassword" method="post">
        <label for="">New password: </label>
        <input type="password" name="password">
        <input type="text" name="mail" style="display: none;" value="{{email}}">
        <input type="submit" value="Enviar">
    </form>
</div>