<nav>
    <ul>
        <li><a href="/products">PRODUCTOS</a></li>
        <li><a href="/carts/{{cart}}">CARRITO</a></li>
        <li><a href="/profile">PERFIL</a></li>
        <li><a href="/auth/logout">LOGOUT</a></li>
    </ul>
</nav>

<div>
    <h1>HOLA {{user.user}}</h1>
    <a href="/auth/logout">Logout</a>
</div>
</div>