<div>
    <h1>Reset password</h1>

    <form action="/auth/resetPassword" method="post">
        <label for="">Email: </label>
        <input type="mail" name="email">
        <input type="submit" value="Enviar">
    </form>
</div>