/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: grid;
    place-items: center;
}


nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #303030;
    width: 100vw;
    height: 10vh;

    & ul {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;

        & li {
            margin: 0 10px;
        }

        & a {
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
        }
    }
}

section {
    max-width: 60vw;
    margin: 20px auto;
    overflow: hidden;
    padding: 5px;
}

.product_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    max-width: 90vw;


    & .product {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid #303030;
        border-radius: 5px;
        padding: 0 20px;
        height: 400px;

        & img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 5px;
        }

        & .product_title {
            margin: 10px 0;
            font-weight: bold;
        }

        & .product_price {
            margin: 10px 0;
            font-size: 1.2rem;
        }

        & .product_description {
            overflow: auto;
            margin: 10px 0;
            font-size: small;
        }

    }
}

button {
    padding: 5px 10px;
    border: none;
    background-color: #303030;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 20px;

    &:hover {
        background-color: #404040;
    }
}

select {
    padding: 5px 10px;
    border: none;
    background-color: #303030;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 5px 10px;
    border: none;
    background-color: #303030;
    color: white;
    margin-bottom: 5px;
}

input[type="text"]::placeholder {
    color: whitesmoke;
}

input[type="text"]:focus {
    border: 1px solid #303030;
}

input[type="text"]:required {
    border: 1px solid red
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}